<div class="container">
  <h1>Personajes de Rick and Morty</h1>
  <div class="characters">
    <div *ngFor="let character of characters" class="character">
      <img [src]="character.image" [alt]="character.name" />
      <p>{{ character.name }}</p>
    </div>
  </div>
  <div class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage === 1">
      Anterior
    </button>
    <span>Página {{ currentPage }} de {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">
      Siguiente
    </button>
  </div>
</div>